.Rproj.user
.Rhistory
.RData
.Ruserdata
.idea
bad.R
script.R
*~
\#*\#
*.swp

*.o
*.so

*.Rcheck
lintr_*.tar.gz
testthat-problems.rds
tests/testthat/_problems/

docs
inst/doc
.DS_Store
.claude/settings.local.json
