<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="lintr-3.0.0.9000">
  <file name="test_file">
    <error line="1" column="2" severity="error" message="foo"/>
    <error line="2" column="1" severity="info" message="bar"/>
  </file>
  <file name="test_file2">
    <error line="1" column="1" severity="warning" message="baz"/>
  </file>
</checkstyle>
