on:
  pull_request:
    branches:
      - main
      - master

name: lint-changed-files

jobs:
  lint-changed-files:
    runs-on: macOS-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v1

      - name: Query dependencies
        run: |
          install.packages('remotes')
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)
          writeLines(sprintf("R-%i.%i", getRversion()$major, getRversion()$minor), ".github/R-version")
        shell: Rscript {0}

      - name: Cache R packages
        uses: actions/cache@v2
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-

      - name: Install dependencies
        run: |
          install.packages(c("remotes"))
          remotes::install_deps(dependencies = TRUE)
          remotes::install_cran("gh")
          remotes::install_github("jimhester/lintr")
          remotes::install_cran("purrr")
          remotes::install_cran("fs")
        shell: Rscript {0}

      - name: Add lintr options
        run: cat('\noptions(lintr.linter_file = ".lintr_new")\n', file = "~/.Rprofile", append = TRUE)
        shell: Rscript {0}

      - name: Extract and lint files changed by this PR
        run: |
          files <- gh::gh("GET https://api.github.com/repos/jimhester/lintr/pulls/${{ github.event.pull_request.number }}/files")
          changed_files <- purrr::map_chr(files, "filename")
          files_to_lint <- changed_files[grepl(".R$|.Rmd$", changed_files)]
          all_files <- fs::dir_ls(recurse = TRUE, glob = ".R$|.Rmd$")
          exclusions_list <- as.list(setdiff(all_files, files_to_lint))
          lintr::lint_package(exclusions = exclusions_list)
        shell: Rscript {0}
